.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

@media (max-width: 768px) {
  main.glass-card {
    flex-direction: column !important;
    padding: 2rem !important;
  }
  
  .explanation-section div {
    grid-template-columns: 1fr !important;
  }
}
